@use 'sass:color';

@use 'lib/bootstrap' as *;
@forward 'lib/bootstrap';

/* Customized Variables for Bootstrap */
$gray-base: black;
$gray-transparent: rgba($gray-base,.8);
$brand-primary-darker: rgb(57, 146, 171);
$brand-success: rgb(41, 177, 106);
$brand-info: rgb(76, 194, 228);
$brand-danger: rgb(241, 83, 68);
$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$border-radius-large: 8px;
$border-radius-small: 4px;
$caret-width-base: 5px;
$dropdown-bg: color.scale($gray-base, $lightness: 20%);
$navbar-inverse-bg: rgba(0, 0, 0, .8);
$label-color: rgb(255, 255, 255);
$label-link-hover-color: rgb(255, 255, 255);
$well-bg: color.scale($gray-base, $lightness: 90%);
$well-border: transparent;
$badge-color: rgb(255, 255, 255);
$badge-link-hover-color: rgb(255, 255, 255);
$badge-bg: $brand-danger;
$badge-active-bg: rgb(255, 255, 255);
$badge-line-height: 1.25;

/* Other brand colors */
$brand-gold: #F1B444;
$brand-gold-darker: #B58733;
$gray-90: color.scale($gray-base, $lightness: 10%);
$gray-85: color.scale($gray-base, $lightness: 15%);
$gray-80: color.scale($gray-base, $lightness: 20%);
$gray-70: color.scale($gray-base, $lightness: 30%);
$gray-60: color.scale($gray-base, $lightness: 40%);
$gray-50: color.scale($gray-base, $lightness: 50%);
$gray-40: color.scale($gray-base, $lightness: 60%);
$gray-20: color.scale($gray-base, $lightness: 80%);
$gray-10: color.scale($gray-base, $lightness: 90%);
$gray-5: color.scale($gray-base, $lightness: 95%);
$brand-primary: #4CC2E4;

/* Grid size (mirrors Bootstraps) */
$screen-sm-min: 768px;
$screen-xs-max: $screen-sm-min - 1;
$screen-md-min: 992px;
$screen-sm-max: $screen-md-min - 1;
$screen-lg-min: 1200px;
$screen-md-max: $screen-lg-min - 1;

/* Mixin that prefixes any CSS rule */
@mixin vendor-prefix($property, $argument) {
  -webkit-#{$property}: #{$argument};
  -ms-#{$property}: #{$argument};
  -moz-#{$property}: #{$argument};
  -o-#{$property}: #{$argument};
  #{$property}: #{$argument};
}
